rnntospectral/.idea/*
rnntospectral/data/*
rnntospectral/models/*
rnntospectral/auts/*
ta-local3.key
CNRS2chaine.crt
scikit-splearn
rnntospectral/mysrc/__pycache__/*.pyc
rnntospectral/mysrc/aut-*
.idea
rnntospectral/venv
tensorflow*

